#title {
    background-color: coral;
    border: 2px solid black;
    text-align: center;
    font-family: copperplate;
    
}

.centre {
    text-align: center;
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.no-bullets {
    list-style-type: none;
}

.textborder {
    border: 2px solid black;
}